html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #09090b;
    letter-spacing: 0;
    line-height: 24px;
}

.custom-container {
    min-height: 100vh;
}