
/* Ліва колонка */

.left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Права колонка */

.right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* === Profile === */

.profile-card {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e4e4e7;
}

.profile-card-avatar-link {
    display: flex;
    margin-bottom: 16px;
}

.profile-card-avatar-link img {
    width: 80px;
    height: 80px;
    border-radius: 99px;
    border: 1px solid #e4e4e7;
}

.profile-card .name {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.profile-card .role {
    line-height: 20px;
    color: #4b5563;
}

.profile-card .stats {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 16px;
}

.profile-card .stats div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - (16px * 2)) / 3);
}

.profile-card .stats svg {
    margin-bottom: 4px;
    color: #2563eb;
}

.profile-card .stats h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.profile-template-paragraf {
    font-size: 12px;
    line-height: 16px;
    color: #4b5563;
}

/* === Quick Actions === */

.quick-actions {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e4e4e7;
}

.quick-actions ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quick-actions ul li button {
    padding: 10px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #ffffff;
    border: 1px solid #e4e4e7;
    border-radius: 4px;
    font-weight: 500;
    line-height: 16px;
}

.quick-actions ul li button:hover,
.quick-actions ul li button:focus {
    background-color: #2563eb;
    color: #ffffff;
    fill: #ffffff;
    border: 1px solid #2563eb;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

/* === Upcoming (права колонка, верхній блок) === */

.upcoming {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 315px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e4e4e7;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.upcoming-item {
    background-color: #f9fafb;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.upcoming-item .title {
    font-weight: 500;
    color: #111827;
}

.time-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    color: #4b5563;
    line-height: 16px;
    font-size: 12px;
}

.time-container.time-container--assignment {
    color: #ea7f0c;
}

.upcoming-item .type {
    margin-top: 8px;
    margin-right: auto;
    padding: 5px 11px;
    background-color: #ffffff;
    border-radius: 99px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #18181b;
}

.upcoming-item .type.type--lecture {
    background-color: #18181b;
    color: #ffffff;
}

/* === Feed (центр) === */

.feed {
    min-width: 315px;
}

.post {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e4e4e7;
    padding: 24px;
}

.post:not(:last-child) {
    margin-bottom: 16px;
}

.post img {
    width: 48px;
    height: 48px;
    border-radius: 99px;
    border: 1px solid #e4e4e7;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.post-header-info .author {
    font-weight: 600;
    font-size: 16px;
    color: #111827;
}

.post-header-info .role {
    line-height: 143%;
    color: #4b5563;
}

.post-header-info .time {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #6b7280;
}

.feed .content {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #1f2937;
    margin-bottom: 20px;
}

.feed .stats {
    border-top: 1px solid #f3f4f6;
}

.feed .stats ul {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

/* Лайки */

.like-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.like-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.like-input {
    display: none;
}

.like-icon,
.like-icon-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.25s ease;
}

/* Початковий стан */
.like-icon {
    opacity: 1;
    transform: scale(1);
    fill: none;
    stroke: #6b7280;
}

/* Активний стан */
.like-input:checked~.like-icon {
    opacity: 0;
    transform: scale(0.6);
}

.like-input:checked~.like-icon-active {
    opacity: 1;
    transform: scale(1);
    animation: heart-pop 0.3s ease forwards;
}

@keyframes heart-pop {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.likes,
.comments,
.shares {
    display: inline-block;
    width: 3ch;
    text-align: left;
}

.feed .stats ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    line-height: 143%;
    color: #4b5563;
    padding: 12px;
}

/* === Course Progress (права колонка, низ) === */

.course-progress {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 315px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #e4e4e7;
}

.course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-header h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #09090b;
}

.course-header p {
    background-color: #dbeafe;
    padding: 4px 12px;
    border-radius: 99px;
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: #1d4ed8;
}

p.green {
    background-color: #dcfce7;
    color: #166534;
}

.course-progress ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.course-progress ul li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.progress-completed-description {
    font-size: 12px;
    line-height: 133%;
    color: #4b5563;
}

.course-progress .progress-bar {
    width: 100%;
    height: 8px;
    background-color: #e5e7eb;
    border-radius: 99px;
    overflow: hidden;
}

.course-progress .progress-bar-completed {
    width: 75%;
    height: 100%;
    background-color: #2563eb;
    border-radius: 4px 0 0 4px;
}

.progress-bar-completed.data-science {
    width: 50%;
}

.progress-bar-completed.web-dev {
    width: 80%;
}