/* ===== Загальний layout ===== */

.messaging-info {
    flex: 1;
    padding: 20px 0 20px 20px;
    background-color: #f3f4f6;
    height: calc(100vh - 80px);
    box-sizing: border-box;

    overflow: hidden;
}

.messenger {
    display: grid;
    grid-template-columns: 315px minmax(0, 1fr);
    height: 100%;

    min-height: 0;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}

/* ===== Ліва колонка: список чатів ===== */

.chat-groups {
    background-color: #ffffff;
    border-radius: 6px 0 0 6px;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-groups-header {
    padding: 16px;
    border-bottom: 1px solid #e5e7eb;
}

.chat-groups-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #111827;
    margin-bottom: 16px;
}

/* Пошук */

.chat-groups-search {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    height: 40px;
}

.chat-groups-search .icon {
    color: #9ca3af;
}

.chat-groups-search-input {
    border: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    color: #71717A;
}

.chat-groups-search-input::placeholder {
    color: #71717A;
}


/* Список груп */

.chat-groups-list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.chat-groups-item {
    padding: 16px;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    border: 1px solid #fff;
    border-bottom: 1px solid #F3F4F6;
}

.chat-groups-item:not(.chat-groups-item--active):hover {
    background-color: #2563eb;
    border: 1px solid#2563eb;
}

.chat-groups-item--active {
    background-color: #EFF6FF;
    border: 1px solid #DBEAFE;
}

.chat-groups-item-main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chat-groups-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-groups-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #2563eb;
}

.chat-groups-item:not(.chat-groups-item--active):hover .chat-groups-name {
    color: #ffffff;
}

.chat-groups-last-message {
    font-size: 14px;
    color: #4B5563;
    line-height: 20px;
    margin-right: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-groups-item:not(.chat-groups-item--active):hover .chat-groups-last-message {
    color: #ffffff;
}

.chat-groups-item--active .chat-groups-last-message {
    font-size: 16px;
}

.chat-groups-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chat-groups-participants,
.chat-groups-time {
    font-size: 12px;
    line-height: 16px;
    color: #6b7280;
}

.chat-groups-item:not(.chat-groups-item--active):hover .chat-groups-participants,
.chat-groups-item:not(.chat-groups-item--active):hover .chat-groups-time {
    color: #ffffff;
}


.chat-groups-unread {
    padding: 4px 11px;
    min-width: 30px;
    border-radius: 999px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 600;
    background-color: #2563EB;
    color: #ffffff;
    text-align: center;
}

.chat-groups-item:not(.chat-groups-item--active):hover .chat-groups-unread {
    background-color: #ffffff;
    color: #2563EB;
}

.no-new-messages {
    display: none   ;
}

/* ===== Права колонка: активний чат ===== */

.chat-messager {
    background-color: #ffffff;
    border-radius: 0 8px 8px 0;
    border: 1px solid #e5e7eb;
    border-left: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-groups,
.chat-messager {
    min-height: 0;
    overflow: hidden;
}

/* Хедер чату */

.messager-header {
    padding: 16px;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.messager-header-main {
    display: flex;
    flex-direction: column;
}

.messager-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #111827;
}

.messager-participants {
    font-size: 14px;
    line-height: 20px;
    color: #6b7280;
}

.messager-header-actions {
    display: flex;
    align-items: center;
}

.messager-header-btn {
    width: 40px;
    height: 36px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ===== Повідомлення + фон з качечками ===== */

.chat {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    min-height: 0;
    padding: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #f5f7fb;
    background-image: url("/img/message-background.jpg");
    background-size: cover;
}


.chat-messages::-webkit-scrollbar,
.chat-groups-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Firefox */
.chat-messages,
.chat-groups-list {
    scrollbar-width: none;
}

/* IE/старий Edge (можна, але не обов'язково) */
.chat-messages,
.chat-groups-list {
    -ms-overflow-style: none;
}

/* Один рядок повідомлення */

.message {
    display: flex;
    align-items: end;
    max-width: 60%;
    gap: 6px;
}

.message-avatar {
    width: 32px;
    height: 32px;
    border-radius: 999px;
    background-color: #e5e7eb;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 4px;
}

.message-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 10px 10px 10px 0;
    position: relative;
}

/* квадрат-хвостик з вирізаним кругом */
.message:not(.message--own) .message-body::before {
    content: "";
    position: absolute;
    left: -16px;
    bottom: 0;

    width: 16px;
    height: 16px;
    background: #fff;

    /* вирізаємо чверть кола з центром у (0,0) і радіусом 12px */
    -webkit-mask: radial-gradient(circle at 0 0, transparent 16px, #000 16px);
    mask: radial-gradient(circle at 0 0, transparent 16px, #000 16px);

    border-radius: 0 0 0 10px;
    
}

.message--own .message-body {
    border-radius: 10px 10px 0 10px;
    margin-right: 6px;
    background-color: #DBEAFE;
}

.message--own .message-body::after {
    content: "";
    position: absolute;
    right: -16px;
    bottom: 0;

    width: 16px;
    height: 16px;
    background: #DBEAFE;

    /* вирізаємо чверть кола з центром у (16px,0) і радіусом 16px */
    -webkit-mask: radial-gradient(circle at 16px 0, transparent 16px, #000 16px);
    mask: radial-gradient(circle at 16px 0, transparent 16px, #000 16px);

    border-radius: 0 0 10px 0;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
    padding: 0 4px;
}

.message-author {
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
    color: #2563eb;
}

.message-time {
    font-size: 11px;
    color: #9ca3af;
}

/* Бабл */

.message-bubble {
    /* padding: 10px 14px; */
    /* border-radius: 16px;
    background-color: #ffffff; */
    /* font-size: 14px;
    color: #111827;
    line-height: 1.4; */
    /* box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08); */
    font-size: 16px;
    line-height: 125%;
    color: #374151;
}

/* Тайм під баблом, вирівняний вправо */

.message-time {
    align-self: flex-end;
    font-size: 12px;
    line-height: 12px;
    color: #6b7280;
}

/* Моє повідомлення справа */

.message--own {
    margin-left: auto;
}

.message--own .message-author {
    display: none;
}


/* ===== Інпут (нижня панель) ===== */

.messager-footer,
.chat-input {
    padding: 16px;
    border-top: 1px solid #E5E7EB;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 24px;
}

.chat-input-field {
    flex: 1;
    padding: 11px 12px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
    outline: none;
    color: #71717a;
}

.chat-input-field::placeholder {
    color: #71717a;
}

.chat-input-field:focus {
    border-color: #2563eb;
}

.chat-input-btn {
    border-radius: 6px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 100ms;
}

.chat-input-btn:hover {
    fill: #61708C;
}

.chat-input-btn--send {
    background-color: #18181B;
    color: #ffffff;
    padding: 12px 16px;
}

.chat-input-btn--send:hover {
    background-color: #61708C;
}

/* ===== Адаптив ===== */

@media (max-width: 900px) {
    .messenger {
        grid-template-columns: 1fr;
    }

    .chat-groups {
        max-height: 260px;
    }
}


