*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2e2f42;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    font: inherit;
    font-family: inherit;
}