<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a href="./index.html" class="logo">
        <svg width="28" height="32" class="icon">
          <use href="/img/icons.svg#icon-Logo-1-1"></use>
        </svg>
        Duckademic
      </a>

      <div class="search-bar">
        <svg width="23" height="23" class="icon icon-search">
          <use href="/img/icons.svg#icon-search-1"></use>
        </svg>
        <input type="text" placeholder="Search" class="search-bar-input" />
      </div>

      <div class="header-actions">
        <button class="notifications">
          <svg width="30" height="31" class="icon-bell">
            <use href="/img/icons.svg#icon-bell-1"></use>
          </svg>
          <svg width="9" height="9" class="icon icon-bell-has-new">
            <use href="/img/icons.svg#icon-Ellipse-1"></use>
          </svg>
        </button>
        <a href="./index.html" class="header-actions-profile">
          <img src="/img/profile_pic.png" alt="profile_pic" />
        </a>
      </div>
    </nav>
  </div>
</header>
