<main class="dashboard">
  <!-- Ліва колонка -->
  <div class="left">
    <!-- Профіль -->
    <section class="profile">
      <h2 class="title hidden-title">Profile</h2>
      <!-- Шаблон профіля -->
      <template id="profile-template">
        <article class="profile-card">
          <a href="#" class="profile-card-avatar-link">
            <img src="" alt="user_profile_pic" class="avatar" />
          </a>
          <h3 class="name"></h3>
          <p class="role"></p>
          <div class="stats">
            <div>
              <svg width="20" height="20">
                <use href="/img/icons.svg#icon-SVG-1"></use>
              </svg>
              <h4 class="courses"></h4>
              <p class="profile-template-paragraf">Courses</p>
            </div>

            <div>
              <svg width="20" height="20">
                <use href="/img/icons.svg#icon-SVG-3"></use>
              </svg>
              <h4 class="assignments"></h4>
              <p class="profile-template-paragraf">Assignments Due</p>
            </div>

            <div>
              <svg width="20" height="20">
                <use href="/img/icons.svg#icon-SVG-9"></use>
              </svg>
              <h4 class="groups"></h4>
              <p class="profile-template-paragraf">Study Groups</p>
            </div>
          </div>
        </article>
      </template>

      <!-- Контейнер для профілів -->
      <div id="profile-list"></div>
    </section>

    <section class="quick-actions">
      <h2 class="title">Quick Actions</h2>
      <ul>
        <li>
          <button>
            <svg width="16" height="16">
              <use href="/img/icons.svg#icon-SVG-4"></use>
            </svg>
            Show rating
          </button>
        </li>

        <li>
          <button>
            <svg width="16" height="16">
              <use href="/img/icons.svg#icon-SVG-3"></use>
            </svg>
            Check Schedule
          </button>
        </li>

        <li>
          <button>
            <svg width="16" height="16">
              <use href="/img/icons.svg#icon-bell-1"></use>
            </svg>
            Notifications
          </button>
        </li>
      </ul>
    </section>
  </div>

  <!-- Центр -->
  <div class="center">
    <section class="feed">
      <h2 class="title hidden-title">Feed</h2>

      <!-- Шаблон поста -->
      <template id="post-template">
        <article class="post">
          <div class="post-header">
            <a href="#">
              <img
                src=""
                alt="author profile pic"
                width="48"
                height="48"
                class="avatar"
              />
            </a>
            <div class="post-header-info">
              <h3 class="author"></h3>
              <p class="role"></p>
              <h4 class="time"></h4>
            </div>
          </div>

          <p class="content"></p>

          <div class="stats">
            <ul>
              <li class="like-item">
                <label class="like-checkbox">
                  <input type="checkbox" class="like-input" />
                  <svg width="16" height="16" class="like-icon">
                    <use href="/img/icons.svg#icon-SVG-6"></use>
                  </svg>
                  <svg width="16" height="16" class="like-icon-active">
                    <use href="/img/icons.svg#icon-like-active"></use>
                  </svg>
                </label>
                <span class="likes"></span>
              </li>

              <li>
                <svg width="16" height="16">
                  <use href="/img/icons.svg#icon-SVG-7"></use>
                </svg>
                <span class="comments"></span>
              </li>
              <li>
                <svg width="16" height="16">
                  <use href="/img/icons.svg#icon-SVG-8"></use>
                </svg>
                <span class="shares"></span>
              </li>
            </ul>
          </div>
        </article>
      </template>

      <!-- Контейнер, куди JS буде підставляти пости -->
      <div id="feed-list"></div>
    </section>
  </div>

  <!-- Права колонка -->
  <div class="right">
    <section class="upcoming">
      <div class="title-container">
        <svg width="16" height="16">
          <use href="/img/icons.svg#icon-SVG-3"></use>
        </svg>
        <h2 class="title">Upcoming</h2>
      </div>

      <!-- Шаблон для події -->
      <template id="upcoming-template">
        <li class="upcoming-item">
          <h3 class="title"></h3>
          <div class="time-container">
            <svg width="16" height="16" class="icon">
              <use href="/img/icons.svg#icon-SVG-11"></use>
            </svg>
            <p class="time"></p>
          </div>
          <h4 class="type"></h4>
        </li>
      </template>

      <!-- Контейнер для подій -->
      <ul id="upcoming-list"></ul>
    </section>

    <section class="course-progress">
      <div class="title-container">
        <svg width="16" height="16">
          <use href="/img/icons.svg#icon-SVG-10"></use>
        </svg>
        <h2 class="title">Course Progress</h2>
      </div>
      <ul>
        <li>
          <div class="course-header">
            <h3>Programming</h3>
            <p>4+</p>
          </div>
          <div class="progress-bar">
            <div class="progress-bar-completed"></div>
          </div>
          <p class="progress-completed-description">75% complete</p>
        </li>

        <li>
          <div class="course-header">
            <h3>Data Science</h3>
            <p class="green">5-</p>
          </div>
          <div class="progress-bar">
            <div class="progress-bar-completed data-science"></div>
          </div>
          <p class="progress-completed-description">50% complete</p>
        </li>
        <li>
          <div class="course-header">
            <h3>Web Dev</h3>
            <p>4+</p>
          </div>
          <div class="progress-bar">
            <div class="progress-bar-completed web-dev"></div>
          </div>
          <p class="progress-completed-description">80% complete</p>
        </li>
      </ul>
    </section>
  </div>
</main>
