<aside class="sidebar-left">
  <nav class="sidebar-navigation">
    <ul class="sidebar-navigation-list">
      <li class="sidebar-navigation-list-item">
        <a href="./index.html">
          <svg width="16" height="16">
            <use href="/img/icons.svg#icon-SVG"></use>
          </svg>
          Home
        </a>
      </li>

      <li class="sidebar-navigation-list-item">
        <a href="./courses.html">
          <svg width="16" height="16" class="icon">
            <use href="/img/icons.svg#icon-SVG-1"></use>
          </svg>
          My Courses
        </a>
      </li>

      <li class="sidebar-navigation-list-item">
        <a href="./messaging.html">
          <svg width="16" height="16">
            <use href="/img/icons.svg#icon-SVG-2"></use>
          </svg>
          Messaging
        </a>
      </li>

      <li class="sidebar-navigation-list-item">
        <a href="./schedule.html">
          <svg width="16" height="16">
            <use href="/img/icons.svg#icon-SVG-3"></use>
          </svg>
          Schedule
        </a>
      </li>

      <li class="sidebar-navigation-list-item">
        <a href="./grades.html">
          <svg width="16" height="16">
            <use href="/img/icons.svg#icon-SVG-4"></use>
          </svg>
          Grades
        </a>
      </li>
    </ul>
  </nav>
</aside>
