/* ===== Загальне оточення ===== */

.grades-info {
    display: flex;
        flex-direction: column;
        background-color: #F3F4F6;
        flex: 1;
        padding: 20px 0 20px 20px;
        min-height: calc(100vh - 80px);
}

/* .grades-layout {
    max-width: 1200px;
    width: 100%;
} */

.grades-title {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 16px;
}

.grades-content {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #E4E4E7;
    padding: 24px 24px 48px;
}

.grades-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.6px;
    color: #09090b;
}

.grades-details .grades-section-title {
    margin-top: 48px;
    margin-bottom: 40px;
}

/* ===== Rating ===== */

.grades-rating {
    border-radius: 16px;
}

.grades-rating-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.grades-rating-filters {
    display: flex;
    gap: 20px;
    margin-bottom: 48px;
}

.grades-filter {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.grades-filter-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #111827;
}

.grades-filter-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background-color: #ffffff;

    font-size: 13px;
    cursor: pointer;
    width: 303px;
}

.grades-filter-select-span {
    margin: 0 auto;
}

.grades-filter-caret {
    padding: 16px;
    border-left: 1px solid #e5e7eb;
    align-items: center;
    display: flex;
}

/* ===== Слайдер рейтингу ===== */

.grades-rating-slider {
    padding: 72px 32px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.grades-swiper-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 28px 40px rgb(255, 255, 255);
    z-index: 10;
}

.swiper-wrapper {
    display: flex;
    gap: 8px;
    align-items: end;
}

.rating-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e5e7eb;
    padding: 48px 0 18px;
    width: 96px;
    border-radius: 8px;
    position: relative;
}

.rating-card-avatar{
    width: 72px;
    height: 72px;
    border: 1px solid #e5e7eb;
    border-radius: 999px;
    object-fit: cover;
    position: absolute;
    top: -36px;
}

.rating-card-medal {
    position: absolute;
    top: 16px;
    right: 12px;
    fill: #FFC931;
}

.second-place {
    fill: #E0E3EA;
}

.third-place {
    fill: #EEAC93;
}

.rating-card--current{
    background-color: #EFF6FF;
    border-color: #DBEAFE;
    padding: 56px 0 30px;
    width: 112px;
}

.rating-card--current .rating-card-avatar{
    width: 80px;
    height: 80px;
    top: -40px;
}

.rating-card-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #374151;
    padding: 0 8px;
    margin-bottom: 12px;
    
}


.rating-card--current .rating-card-name {
    font-size: 16px;
    line-height: 14px;
}

.rating-card-group {
    font-size: 14px;
    line-height: 12px;
    text-align: center;
    color: #9ca3af;
    margin-bottom: 18px;
}

.rating-card--current .rating-card-group {
    font-size: 16px;
    line-height: 14px;
    color: #2563eb;
    margin-bottom: 28px;
}


.rating-card-position {
    font-size: 36px;
    line-height: 32px;
    color: #374151;
}

.rating-card--current .rating-card-position {
    font-size: 44px;
}

.rating-card--current .rating-card-medal {
    width: 22px;
    height: 30px;
    top: 20px;
    right: 16px;
}

.rating-card-score {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #9ca3af;
    margin-top: 4px;
}

.rating-card-score--accent {
    color: #2563EB;
    font-size: 20px;
}


/* ===== Details (цифрові картки) ===== */



.grades-stats-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.grades-stat-card {
    border-radius: 8px;
    border: 1px solid #E4E4E7;
    background-color: #ffffff;
    padding: 36px 0;
    text-align: center;
}

.grades-stat-value {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 15px;
}

.grades-stat-value--blue {
    color: #2563EB;
}

.grades-stat-value--green {
    color: #16A34A;
}

.grades-stat-value--purple {
    color: #9333EA;
}

.grades-stat-value--orange {
    color: #EA580C;
}

.grades-stat-label {
    font-size: 20px;
    line-height: 20px;
    color: #4b5563;
}

/* ===== Courses breakdown ===== */

.grades-courses {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 57px;
}

.course-grade-card {
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #E4E4E7;
}

.course-grade-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.course-grade-title-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.course-grade-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.6px;
    line-height: 24px;
    color: #111827;
}

.course-grade-mark {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    padding: 5px 11px;
    border-radius: 999px;
    background-color: #DCFCE7;
    color: #166534;
    margin-left: 8px;
}

.course-grade-total {
    font-weight: 700;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    color: #2563eb;
}

.course-grade-body {
    display: grid;
    grid-template-columns: 303px repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
    margin-top: 36px;
}

.course-grade-block {
    border-radius: 8px;
    background-color: #F9FAFB;
    color: #4B5563;
    padding: 24px 0;
    text-align: center;
}

.course-grade-block-value {
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #4b5563;
    margin-bottom: 12px;
}

.course-grade-block-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
}

/* ===== Адаптив ===== */

@media (max-width: 960px) {
    .grades-rating-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .grades-rating-filters {
        width: 100%;
        flex-wrap: wrap;
    }

    .grades-stats-grid,
    .course-grade-body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {

    .grades-stats-grid,
    .course-grade-body {
        grid-template-columns: 1fr;
    }

    .grades-swiper .swiper-slide {
        width: 180px;
    }
}