/* Загальний контейнер сторінки */
.container {
    max-width: 1728px;
    margin: 0 auto;
    padding: 0 70px;
    background-color: #ffffff;
}

/* Контент сторінки: ліва колонка + центр + права */
.page-content {
    display: flex;
    padding-top: 80px;
}

/* Основна частина */
.dashboard {
    display: flex;
    gap: 20px;
    padding: 20px 0 20px 20px;
    background-color: #f3f4f6;

    flex: 1;
    min-height: calc(100vh - 80px);
}

.sidebar-space {
    margin-left: 249px;
    position: relative;
}

.sidebar-space::after {
    content: "";
    position: absolute;
    top: 0;
    right: -70px;
    /* дорівнює padding-right у .container */
    bottom: 0;
    width: 70px;
    background-color: #f3f4f6;
    /* той самий сірий, що й у .dashboard */
    pointer-events: none;
    /* щоб не заважало клікам, якщо що */
}

/* Заголовки блоків */
.title {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 20px;
}

.hidden-title {
    display: none;
}

/* Ліва колонка */
.left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Права колонка */
.right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}