.sidebar-left {
    padding-top: 16px;
    padding-right: 24px;
    position: fixed;
}

.sidebar-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 225px;
}

.sidebar-navigation-list-item {
    padding: 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    transition: 200ms ease-in-out;
}

.sidebar-navigation-list-item a {
    display: flex;
    align-items: center;
    gap: 21px;
    color: #374151;  
}

.highlighted {
    background-color: #eff6ff;
    border-right: 1.6px solid #1d4ed8;
    cursor: pointer;
}

.highlighted a {
    color: #1d4ed8;
}

.sidebar-navigation-list-item:hover:not(.highlighted),
.sidebar-navigation-list-item:focus:not(.highlighted) {
    cursor: pointer;
    background-color: #2563eb;
    /* transition: cubic-bezier(0.4, 0, 0.2, 1) 150ms; */
}

.sidebar-navigation-list-item:hover:not(.highlighted) a,
.sidebar-navigation-list-item:focus:not(.highlighted) a {
    color: #ffffff;
    /* transition: cubic-bezier(0.4, 0, 0.2, 1) 150ms; */
}