/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Common / reset */
@import url('./reset.css');
@import url('./base.css');
@import url('./layout.css');

/* Sections */
@import url('./header.css');
@import url('./sidebar.css');
@import url('./main.css');
@import url('./courses-info.css');
@import url('./messaging-info.css');
@import url('./schedule-info.css');
@import url('./grades-info.css');